.gradient-custom {
    /* fallback for old browsers */
    background: #fccb90;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);


}

p {
    justify-content: center;
    align-items: center;
    display: flex;
}

.p-md-5 {
    padding: 20px !important;
}

.container {
    padding: 0;


    /* margin: 0 auto; */
    box-sizing: none;
}

img  {
    
    padding-bottom: 20px;
}
