.gradient-color {
    /* fallback for old browsers */
    background: #fccb90;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    border: none;
    cursor: pointer;
}
button[type="submit"].gradient-custom {
    height: auto; /* Asegura que la altura se ajuste automáticamente */
    line-height: 1.5; /* Ajusta la altura de la línea para controlar la altura del texto */
}
.espacio {	    
    margin-bottom: 20px;
    text-align: center;
}
p {
    justify-content: center;
    align-items: center;
    display: flex;
}



.container {
    padding: 0;


    /* margin: 0 auto; */
    box-sizing: none;
}

img  {
    
    padding-bottom: 20px;
}
